<%- include('includes/doctype') %>
<%- include('includes/head') %>
<body >
    <%- include('includes/cursor') %>
    <%- include('includes/header') %>
    <div class="wrapper">
        <main class="main">
            <%- include('includes/main_aside') %>
            <div class="main__breadcrumbs breadcrumbs">
                <div class="container">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__list-item">
                            <a class="breadcrumbs__list-link" href="#">
                                Home
                            </a>
                        </li>
                        <li class="breadcrumbs__list-item">
                            <a class="breadcrumbs__list-link" href="#">
                                Blog
                            </a>
                        </li>
                        <li class="breadcrumbs__list-item">
                            <p class="breadcrumbs__list-text">
                                6 Big Commerce Design Tips For Big Results
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section-top section-top--column">
                <div class="container">
                    <div class="section-top__inner">
                        <div class="section-top__content section-top-content">
                            <p class="section-top-content__suptext section-top-content__suptext--purple">
                                marketing
                            </p>
                            <h1 class="section-top-content__title title">
                                6 Big Commerce Design Tips For Big Results
                            </h1>
                            <ul class="section-top-content__list card-list">
                                <li class="card-list__item">
                                    <p class="card-list__text">
                                        January 13, 2022
                                    </p>
                                </li>
                                <li class="card-list__item">
                                    <a class="card-list__link" href="#comments">
                                        2 Comments
                                    </a>
                                </li>
                                <li class="card-list__item">
                                    <a class="card-list__link" href="#">
                                        by Valerie Fergusson
                                        <img class="card-list__link-img" src="/images/member-icon-29.png" alt="img">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="section-top__img">
                            <img class="section-top__img-image" src="/images/new/group-img-23.jpg" alt="img">
                        </div>
                    </div>
                </div>
            </div>
            <article class="main__blog-section blog-section">
                <div class="container">
                    <div class="blog-section__inner">
                        <div class="blog-section__box blog-section-box">
                            <div class="blog-section-box__content blog-section-box-content">
                                <p class="blog-section-box-content__text">
                                    These days, we do just about everything online—and that includes shopping. Which is
                                    why there’s never been a better time to be in ecommerce.
                                </p>
                                <p class="blog-section-box-content__text">
                                    Nowadays, if you’re selling anything—whether that’s sneakers, salad dressing, or
                                    something in between—you need to hop on board the ecommerce website train. An
                                    ecommerce site offers you the chance to build your brand, connect with more
                                    customers, and sell more products—but only if you’ve got the right website design.
                                </p>
                                <p class="blog-section-box-content__text">
                                    Web design is critical when creating an ecommerce website. Good ecommerce web design
                                    is all about using the right colors, fonts, images, words and graphics to convince
                                    visitors to make a purchase. Your ecommerce website design should attract potential
                                    customers, provide great user experience and present your shop in the best light.
                                </p>
                                <p class="blog-section-box-content__text">
                                    So, not only does your site have to look good and feel on-brand, but it also needs
                                    to drive your website visitors to take action and, you know… buy your products. But
                                    how, exactly, do you do that? How do you design the kind of ecommerce site that will
                                    have products flying off your virtual shelves?
                                </p>
                            </div>
                            <div class="blog-section-box__images blog-section-box-images">
                                <div class="blog-section-box-images__block blog-section-box-images-block">
                                    <div class="blog-section-box-images-block__img">
                                        <img class="blog-section-box-images-block__img-image"
                                            src="/images/new/post1.jpg" alt="img">
                                    </div>
                                    <p class="blog-section-box-images-block__text">
                                        Cryptomate: Wallet App design
                                    </p>
                                </div>
                                <div class="blog-section-box-images__block blog-section-box-images-block">
                                    <div class="blog-section-box-images-block__img">
                                        <img class="blog-section-box-images-block__img-image"
                                            src="/images/new/post2.jpg" alt="img">
                                    </div>
                                    <p class="blog-section-box-images-block__text">
                                        Content Management Platform
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="blog-section__box blog-section-box">
                            <div class="blog-section-box__content blog-section-box-content">
                                <h2 class="blog-section-box-content__title">
                                    1. Keep it Simple
                                </h2>
                                <p class="blog-section-box-content__text">
                                    One of the top rules you should keep in mind during the ecommerce design process is
                                    “KISS”—keep it simple, silly!
                                </p>
                                <p class="blog-section-box-content__text">
                                    When it comes to designing an ecommerce website,
                                    <span>
                                        simple is always better
                                    </span>
                                    .
                                    The more
                                    elements you have on the page, the more it takes away from the entire point of the
                                    website—closing a sale.
                                </p>
                                <p class="blog-section-box-content__text">
                                    You don’t need a ton of bells and whistles on your ecommerce website—all they do is
                                    act as distraction. Keep your design clear, clean, and simple—and keep the focus on
                                    the sale.
                                </p>
                            </div>
                        </div>
                        <div class="blog-section__box blog-section-box">
                            <div class="blog-section-box__content blog-section-box-content">
                                <h2 class="blog-section-box-content__title">
                                    2. Make Branding a Priority
                                </h2>
                                <p class="blog-section-box-content__text">
                                    When it comes to shopping online, people want to buy from established brands—not
                                    faceless ecommerce sites that look like a front for trying to steal your credit card
                                    information.
                                </p>
                                <p class="blog-section-box-content__text">
                                    If you want to build the trust you need to drive serious sales with your ecommerce
                                    business, you need to put some serious thought into your branding. Your branding is
                                    like the DNA of your ecommerce business; it’s who you are as a company, what you’re
                                    about, and how you’re different from your competitors—and it plays a huge part in
                                    building a connection with your audience and driving sales.
                                </p>
                                <p class="blog-section-box-content__text">
                                    If you want to get the most from your ecommerce design, take the time to define your
                                    brand—and then infuse that branding into your design. If you’re not sure who you are
                                    as a brand, that’s ok! You’re just going to want to do a little business
                                    soul-searching before you get designing. Ask yourself questions like:
                                </p>
                                <ul class="blog-section-box-content__list">
                                    <li class="blog-section-box-content__list-item">
                                        If my brand was a person, who would it be?
                                    </li>
                                    <li class="blog-section-box-content__list-item">
                                        If I had to describe my brand in three words, what would they be?
                                    </li>
                                    <li class="blog-section-box-content__list-item">
                                        What makes my brand different from other ecommerce shops out there?
                                    </li>
                                    <li class="blog-section-box-content__list-item">
                                        What do we do better than anyone else on the market?
                                    </li>
                                </ul>
                                <p class="blog-section-box-content__text">
                                    Once you know who you are, you can work it into the branding of your ecommerce site.
                                    And that branding? It’ll help build trust with your audience—and drive serious sales
                                    in the process.
                                </p>
                            </div>
                            <div class="blog-section-box__img">
                                <img class="blog-section-box__img-image" src="/images/group-img-24.jpg" alt="img">
                            </div>
                        </div>
                        <div class="blog-section__box blog-section-box">
                            <div class="blog-section-box__content blog-section-box-content">
                                <h2 class="blog-section-box-content__title">
                                    3. Think Like a Website Visitor
                                </h2>
                                <p class="blog-section-box-content__text">
                                    If you want your ecommerce website design to connect with your audience, you need to
                                    think like your audience. Ultimately, there are just a few things your potential
                                    customers want in an ecommerce experience—a site that’s easy to navigate,
                                    well-designed, and makes the process of shopping easy, straightforward, and
                                    hassle-free.
                                </p>
                                <p class="blog-section-box-content__text">
                                    During the design process, put yourself in your visitor’s shoes. What kind of layout
                                    is going to be easiest for them to navigate? How can you organize your products in a
                                    way that makes sense for the end user? How can you simplify the checkout process?
                                    When you think like your customer, you can anticipate what they want from your
                                    ecommerce store—and then design your site in order to meet those needs.
                                </p>
                            </div>
                            <blockquote class="blog-section-box__blockquote">
                                <p class="blog-section-box__blockquote-text">
                                    “A great online shop needs
                                    great web design. ”
                                </p>
                                <p class="blog-section-box__blockquote-subtext">
                                    Henry Walker
                                </p>
                            </blockquote>
                        </div>
                        <div class="blog-section__box blog-section-box">
                            <div class="blog-section-box__content blog-section-box-content">
                                <h2 class="blog-section-box-content__title">
                                    4. Make it Look Professional
                                </h2>
                                <p class="blog-section-box-content__text">
                                    The basis of an ecommerce site is that you are asking your website visitors to
                                    purchase something from you. And, as a result, you’re asking them to turn over
                                    sensitive information, like their credit card information. Which they’re not going
                                    to feel comfortable doing if your website doesn’t look profesh.
                                </p>
                                <p class="blog-section-box-content__text">
                                    Investing in a professional website is a must if you want to build trust with your
                                    customers—and developing that trust is a must if you want your ecommerce store to
                                    succeed.
                                </p>
                                <p class="blog-section-box-content__text">
                                    What do we mean by professional? Your website shouldn’t have any typos or
                                    misspellings. Your font, color palette, and footer design should be consistent from
                                    page to page. All your product links and buttons should work. Your photos shouldn’t
                                    look like you snapped them on an old iPhone 5 and your overall site design shouldn’t
                                    look like you swiped it from Geocities circa 1997.
                                </p>
                                <p class="blog-section-box-content__text">
                                    The point is, if you want your customers to take you seriously, you need to show
                                    them you take yourself seriously—and the only way to do that is with a professional
                                    web design.
                                </p>
                            </div>
                            <div class="blog-section-box__images blog-section-box-images">
                                <div class="blog-section-box-images__block blog-section-box-images-block">
                                    <div class="blog-section-box-images-block__img">
                                        <img class="blog-section-box-images-block__img-image"
                                            src="/images/group-img-25.jpg" alt="img">
                                    </div>
                                    <p class="blog-section-box-images-block__text">
                                        Cryptomate: Wallet App design
                                    </p>
                                </div>
                                <div class="blog-section-box-images__block blog-section-box-images-block">
                                    <div class="blog-section-box-images-block__img">
                                        <img class="blog-section-box-images-block__img-image"
                                            src="/images/group-img-26.jpg" alt="img">
                                    </div>
                                    <p class="blog-section-box-images-block__text">
                                        Content Management Platform
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="blog-section__box blog-section-box">
                            <div class="blog-section-box__content blog-section-box-content">
                                <h2 class="blog-section-box-content__title">
                                    5. Use Social Proof
                                </h2>
                                <p class="blog-section-box-content__text">
                                    Another way to build that oh-so-important trust? Social proof.
                                </p>
                                <p class="blog-section-box-content__text">
                                    When you’re designing your ecommerce site, look for ways to show your potential
                                    customers the positive feedback you’ve gotten from your existing customers. Add a
                                    ratings section where people can rate your products (and then get as many 5 star
                                    reviews as you can). Add a testimonials section where you feature customer photos
                                    with a quote or two about what a great experience they had working with you. Ask
                                    customers to review your products—and what they like about them—and then add them to
                                    your blog.
                                </p>
                                <p class="blog-section-box-content__text">
                                    The more your website visitors see that other people have had a positive experience
                                    shopping on your site (whether that’s through reviews or testimonials) the more
                                    trustworthy you’ll appear—and the more your conversions will go up as a result.
                                </p>
                            </div>
                        </div>
                        <div class="blog-section__box blog-section-box">
                            <div class="blog-section-box__content blog-section-box-content">
                                <h2 class="blog-section-box-content__title">
                                    6. Make it responsive
                                </h2>
                                <p class="blog-section-box-content__text">
                                    It’s official—
                                    <a class="blog-section-box-content__text-link" href="#">
                                        mobile has surpassed desktop as the most popular way to surf the
                                        interwebs
                                    </a>
                                    . And that includes shopping.
                                </p>
                                <p class="blog-section-box-content__text">
                                    We’ll keep this short—if you want to capture the customers who want to shop on their
                                    phones or tablets, you need to make sure your website design is fully responsive.
                                    Otherwise you might not convince those valuable mobile visitors that your site is
                                    where they want to make a purchase.
                                </p>
                            </div>
                        </div>
                        <ul class="blog-section__tags">
                            <li class="blog-section__tags-item">
                                <a class="blog-section__tags-link" href="#">
                                    community
                                </a>
                            </li>
                            <li class="blog-section__tags-item">
                                <a class="blog-section__tags-link" href="#">
                                    digital
                                </a>
                            </li>
                            <li class="blog-section__tags-item">
                                <a class="blog-section__tags-link" href="#">
                                    web design
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            <section
                class="main__courses-section-instructor courses-section-instructor courses-section-instructor--blog">
                <div class="container">
                    <div class="courses-section-instructor__inner">
                        <div class="courses-section-instructor__img">
                            <img class="courses-section-instructor__img-image" src="/images/member-icon-7.png"
                                alt="img">
                        </div>
                        <div class="courses-section-instructor__content courses-section-instructor-content">
                            <p class="courses-section-instructor-content__suptext">
                                graphic designer
                            </p>
                            <p class="courses-section-instructor-content__name">
                                Valerie Ferguson
                            </p>
                            <p class="courses-section-instructor-content__text">
                                Senior UI/UX Designer for web and mobile applications with a demonstrated
                                history of working with interactive design, creating interface, prototypes,
                                developing a visual style, and implementing it all into a simple and
                                user-friendly end product.
                            </p>
                            <ul class="courses-section-instructor-content__socials socials">
                                <li class="socials__item">
                                    <a class="socials__link" href="#">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M1.98219 11.1178V8.46874C2.74312 8.46874 4.80094 8.3528 5.42156 8.63717C6.31562 9.04655 6.25469 10.5194 5.40125 10.9428C4.79969 11.2356 2.73031 11.1178 1.98219 11.1178ZM14.3866 3.4778H10.0681V4.48061H14.3866V3.4778ZM12.3528 6.88436C13.3231 6.88436 13.9387 7.47655 14.005 8.44124H10.6944C10.8325 7.49436 11.3562 6.88436 12.3528 6.88436ZM12.4219 13.0931C13.8541 13.0928 15.7116 12.2678 15.8991 10.6931H13.9372C13.625 11.284 13.1459 11.5356 12.4747 11.5356C11.3322 11.5356 10.6934 10.85 10.6475 9.70811H15.9987C16.0356 7.26905 15.2166 5.3003 12.3522 5.3003C9.95469 5.29999 8.71281 6.95124 8.71281 9.24686C8.71281 11.5728 10.0466 13.0931 12.4219 13.0931ZM1.98219 4.63249C2.85969 4.63249 4.53156 4.52217 5.31875 4.7878C6.01156 5.07561 6.02969 6.22405 5.44844 6.57749C4.80375 6.97155 2.79469 6.82374 1.98219 6.82374V4.63249ZM5.88219 12.7084C7.25469 12.4253 8.15094 11.2415 8.15094 9.84311C8.15094 8.74811 7.67062 7.89405 6.61594 7.51092C7.47375 7.0728 7.83437 6.46186 7.83437 5.48186C7.83469 3.67342 6.47781 2.93155 4.80281 2.90686H0V12.8437C1.65812 12.8437 4.32469 13.0347 5.88219 12.7084Z"
                                                fill="white" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="socials__item">
                                    <a class="socials__link" href="#">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_130_9419)">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M9.855 7.57844C9.69281 7.20344 9.52375 6.82906 9.34344 6.45875C10.8831 5.79187 12.1206 4.88625 13.0425 3.73781C13.9419 4.80062 14.5066 6.15031 14.5897 7.6275C12.8731 7.34656 11.2944 7.33094 9.855 7.57844ZM11.6681 13.4931C11.3763 11.925 10.9478 10.3916 10.3884 8.89563C11.6388 8.71875 13.0153 8.76469 14.5206 9.02656C14.2294 10.8837 13.1694 12.4881 11.6681 13.4931ZM3.94438 13.2069C5.25688 11.1478 6.93281 9.8075 9.00937 9.18875C9.62719 10.8025 10.0822 12.4619 10.3716 14.1619C8.20844 14.9978 5.77781 14.6388 3.94438 13.2069ZM1.40031 7.82969C3.96562 7.82594 6.17875 7.53125 8.03312 6.94781C8.18844 7.26438 8.33719 7.5825 8.47937 7.90281C6.22719 8.60656 4.37031 10.05 2.92219 12.2228C1.87969 10.9716 1.36063 9.45406 1.40031 7.82969ZM5.01844 2.11C5.90625 3.27156 6.69219 4.46906 7.37625 5.69781C5.75594 6.17469 3.8225 6.41969 1.58656 6.435C2.04844 4.545 3.32094 2.97312 5.01844 2.11ZM12.0288 2.77312C11.2256 3.80875 10.1169 4.62781 8.70406 5.22594C8.02719 3.98562 7.25344 2.77563 6.37937 1.60125C8.35812 1.09656 10.405 1.51906 12.0288 2.77312ZM7.99969 0C3.58156 0 0 3.58187 0 8C0 12.4181 3.58156 16 7.99969 16C12.4184 16 16 12.4181 16 8C16 3.58187 12.4181 0 7.99969 0Z"
                                                    fill="white" />
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_130_9419">
                                                    <rect width="16" height="16" fill="white" />
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </a>
                                </li>
                                <li class="socials__item">
                                    <a class="socials__link" href="#">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_130_21747)">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M0.321094 16H3.62266V5.33313H0.321094V16ZM8.90078 10.4006C8.90078 8.90125 9.59109 8.0075 10.9127 8.0075C12.1267 8.0075 12.7098 8.86531 12.7098 10.4006V16H15.9964C15.9964 16 15.9964 12.1038 15.9964 9.24656C15.9964 6.38938 14.3767 5.00781 12.1152 5.00781C9.85266 5.0075 8.90078 6.77 8.90078 6.77V5.33313H5.73359V16H8.90078C8.90078 16 8.90078 12.0441 8.90078 10.4006ZM1.95641 3.93688C3.03453 3.93688 3.90891 3.05469 3.90891 1.96812C3.90891 0.88125 3.03453 0 1.95641 0C0.877656 0 0.00390625 0.88125 0.00390625 1.96812C0.00390625 3.05469 0.877656 3.93688 1.95641 3.93688Z"
                                                    fill="white" />
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_130_21747">
                                                    <rect width="16" height="16" fill="white" />
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </a>
                                </li>
                                <li class="socials__item">
                                    <a class="socials__link" href="#">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M10.3003 8.21346L6.6975 10.1894C6.54094 10.2741 6.4 10.1606 6.4 9.98284V5.92659C6.4 5.74627 6.54531 5.63315 6.70219 5.72221L10.3297 7.80221C10.49 7.89377 10.4628 8.12534 10.3003 8.21346ZM16 5.88315C16 3.9594 14.4406 2.40002 12.5172 2.40002H3.48312C1.55969 2.40002 0 3.9594 0 5.88315V10.1169C0 12.0406 1.55969 13.6 3.48312 13.6H12.5172C14.4406 13.6 16 12.0406 16 10.1169V5.88315Z"
                                                fill="white" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="main__comments comments" id="comments">
                <div class="container">
                    <div class="comments__inner">
                        <h2 class="comments__title">
                            2 Comments
                        </h2>
                        <div class="comments__item comments-item">
                            <div class="comments-item__img">
                                <img class="comments-item__image" src="/images/member-icon-25.png" alt="img">
                            </div>
                            <div class="comments-item__inner">
                                <p class="comments-item__name">
                                    Anthony Clark
                                </p>
                                <p class="comments-item__date">
                                    9 June 2022
                                </p>
                                <p class="comments-item__text">
                                    The instructor does a fantastic job of explaining how to give feedback so that you
                                    can
                                    maintain the dignity of the employee and have positive outcomes.
                                </p>
                                <a class="comments-item__link" href="#">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.99935 11.3332L2.66602 7.99984L5.99935 4.6665" stroke="white"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path
                                            d="M13.3327 12V10.6667C13.3327 9.95942 13.0517 9.28115 12.5516 8.78105C12.0515 8.28095 11.3733 8 10.666 8H2.66602"
                                            stroke="white" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                    <span>
                                        Reply
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="comments__item comments-item">
                            <div class="comments-item__img">
                                <img class="comments-item__image" src="/images/member-icon-26.png" alt="img">
                            </div>
                            <div class="comments-item__inner">
                                <p class="comments-item__name">
                                    Vivienne Sabo
                                </p>
                                <p class="comments-item__date">
                                    10 October 2021
                                </p>
                                <p class="comments-item__text">
                                    The instructor does a fantastic job of explaining how to give feedback so that you
                                    can
                                    maintain the dignity of the employee and have positive outcomes.
                                </p>
                                <a class="comments-item__link" href="#">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.99935 11.3332L2.66602 7.99984L5.99935 4.6665" stroke="white"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path
                                            d="M13.3327 12V10.6667C13.3327 9.95942 13.0517 9.28115 12.5516 8.78105C12.0515 8.28095 11.3733 8 10.666 8H2.66602"
                                            stroke="white" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                    <span>
                                        Reply
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="main__comment comment comment--big">
                <div class="container">
                    <div class="comment__inner">
                        <h2 class="comment__title">
                            Leave a Comment
                        </h2>
                        <form class="comment__form" action="#">
                            <textarea class="comment__form-textarea" placeholder="Your Comment" rows="3"></textarea>
                            <div class="comment__form-wrapper">
                                <input class="comment__form-input" type="text" placeholder="Your Name">
                                <input class="comment__form-input" type="text" placeholder="Your Email">
                            </div>
                            <label class="comment__form-checkbox container">
                                Save my name, email, and website in this browser for the next time I comment.
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                            <button class="comment__form-btn" type="button">
                                Post Comment
                            </button>
                        </form>
                    </div>
                </div>
            </section>
            <section class="main__related related">
                <div class="container">
                    <h2 class="related__title">
                        Related Posts
                    </h2>
                    <div class="related__inner">
                        <div class="related__card card">
                            <div class="card__inner">
                                <a class="card-box__poster" href="#">
                                    <img class="card-box__poster-img" src="/images/group-img-6.jpg" alt="img">
                                </a>
                                <p class="card__suptext card__suptext--purple">
                                    technology
                                </p>
                                <a class="card__title" href="blog-page.html">
                                    The Ultimate Guide to the Best WordPress LMS Plugin
                                </a>
                                <p class="card__description">
                                    Companies across industries are competing to get noticed online. That’s why digital marketing professionals are in demand and the need to retain talent is high on the agenda for many HR professionals.
                                </p>
                                <ul class="card__list card-list">
                                    <li class="card-list__item">
                                        <p class="card-list__text">
                                            January 13, 2022
                                        </p>
                                    </li>
                                    <li class="card-list__item">
                                        <p class="card-list__text">
                                            5 Comments
                                        </p>
                                    </li>
                                    <li class="card-list__item">
                                        <a class="card-list__link" href="blog-page.html">
                                            by Anthony Clark
                                            <img class="card-list__link-img" src="/images/member-icon-4.png"
                                                alt="img">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="related__card card">
                            <div class="card__inner">
                                <a class="card-box__poster" href="blog-page.html">
                                    <img class="card-box__poster-img" src="/images/new/post-img-4.jpg" alt="img">
                                </a>
                                <p class="card__suptext card__suptext--purple">
                                    marketing
                                </p>
                                <a class="card__title" href="blog-page.html">
                                    Making an Online Portfolio to Impress Clients
                                </a>
                                <p class="card__description">
                                    Our office is something we are pleased with. We consider it the little magnet; it is wanting.
                                </p>
                                <ul class="card__list card-list">
                                    <li class="card-list__item">
                                        <p class="card-list__text">
                                            January 13, 2022
                                        </p>
                                    </li>
                                    <li class="card-list__item">
                                        <p class="card-list__text">
                                            5 Comments
                                        </p>
                                    </li>
                                    <li class="card-list__item">
                                        <a class="card-list__link" href="blog-page.html">
                                            by Anthony Clark
                                            <img class="card-list__link-img" src="/images/member-icon-4.png"
                                            alt="img">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        
            <section class="main__login login" id="login-popup">
                <div class="login__inner">
                    <h2 class="login__title">
                        Log In
                    </h2>
                    <div class="login__info login-info">
                        <div class="login-info__box">
                            <p class="login-info__box-text">
                                Username:
                            </p>
                            <div class="login-info__box-input">
                                <p>demo</p>
                                <input type="text" value="demo" id="myvalue1">
                            </div>
                            <button class="login-info__box-btn" onclick="copyToClipboard1()">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="icons" clip-path="url(#clip0_215_18476)">
                                        <path id="Vector" d="M13.3333 5.33325H6.66659C5.93021 5.33325 5.33325 5.93021 5.33325 6.66659V13.3333C5.33325 14.0696 5.93021 14.6666 6.66659 14.6666H13.3333C14.0696 14.6666 14.6666 14.0696 14.6666 13.3333V6.66659C14.6666 5.93021 14.0696 5.33325 13.3333 5.33325Z" stroke="#6D9985" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path id="Vector_2" d="M2.66659 10.6666C1.93325 10.6666 1.33325 10.0666 1.33325 9.33325V2.66659C1.33325 1.93325 1.93325 1.33325 2.66659 1.33325H9.33325C10.0666 1.33325 10.6666 1.93325 10.6666 2.66659" stroke="#6D9985" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_215_18476">
                                            <rect width="16" height="16" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </button>
                        </div>
                        <div class="login-info__box">
                            <p class="login-info__box-text">
                                Password:
                            </p>
                            <div class="login-info__box-input">
                                <p>designlab_demo</p>
                                <input type="text" value="designlab_demo" id="myvalue2">
                            </div>
                            <button class="login-info__box-btn" onclick="copyToClipboard2()">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="icons" clip-path="url(#clip0_215_18476)">
                                        <path id="Vector" d="M13.3333 5.33325H6.66659C5.93021 5.33325 5.33325 5.93021 5.33325 6.66659V13.3333C5.33325 14.0696 5.93021 14.6666 6.66659 14.6666H13.3333C14.0696 14.6666 14.6666 14.0696 14.6666 13.3333V6.66659C14.6666 5.93021 14.0696 5.33325 13.3333 5.33325Z" stroke="#6D9985" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path id="Vector_2" d="M2.66659 10.6666C1.93325 10.6666 1.33325 10.0666 1.33325 9.33325V2.66659C1.33325 1.93325 1.93325 1.33325 2.66659 1.33325H9.33325C10.0666 1.33325 10.6666 1.93325 10.6666 2.66659" stroke="#6D9985" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_215_18476">
                                            <rect width="16" height="16" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <form class="login__form login-form" action="#">
                        <div class="login-form__box login-form-box">
                            <label class="login-form-box__label" for="">
                                Username or Email
                            </label>
                            <div class="login-form-box__row">
                                <input class="login-form-box__row-input" type="text">
                            </div>
                        </div>
                        <div class="login-form__box login-form-box">
                            <label class="login-form-box__label" for="">
                                Password
                            </label>
                            <div class="login-form-box__row">
                                <input class="login-form-box__row-input" type="password">
                                <button class="login-form-box__row-btn">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g id="icons" clip-path="url(#clip0_215_18379)">
                                            <path id="Vector" d="M6.58675 6.58667C6.39025 6.76977 6.23265 6.99057 6.12334 7.2359C6.01402 7.48123 5.95524 7.74607 5.95051 8.01461C5.94577 8.28315 5.99517 8.54989 6.09576 8.79893C6.19635 9.04796 6.34607 9.27419 6.53598 9.46411C6.7259 9.65402 6.95212 9.80374 7.20116 9.90433C7.45019 10.0049 7.71694 10.0543 7.98548 10.0496C8.25402 10.0448 8.51885 9.98606 8.76419 9.87675C9.00952 9.76744 9.23032 9.60983 9.41342 9.41334" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path id="Vector_2" d="M7.15332 3.38659C7.43419 3.35159 7.71694 3.33378 7.99999 3.33325C12.6667 3.33325 14.6667 7.99992 14.6667 7.99992C14.3686 8.638 13.9948 9.23787 13.5533 9.78659" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path id="Vector_3" d="M4.40659 4.40674C3.08075 5.30982 2.01983 6.55024 1.33325 8.00007C1.33325 8.00007 3.33325 12.6667 7.99992 12.6667C9.27719 12.6702 10.5271 12.2968 11.5933 11.5934" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path id="Vector_4" d="M1.33325 1.33325L14.6666 14.6666" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_215_18379">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="login-form__bottom">
                            <label class="login-form__bottom-checkbox container">
                                Remember Me
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                            <a class="login-form__bottom-link" href="#">
                                Forgot Password?
                            </a>
                        </div>
                        <button class="login-form__button" type="submit">
                            Log In
                        </button>
                        <div class="login-form__socials login-form-socials">
                            <p class="login-form-socials__or">
                                <span></span>
                                or
                                <span></span>
                            </p>
                            <ul class="login-form-socials__list socials">
                                <li class="socials__item">
                                    <a class="socials__link" href="#">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="social_icons">
                                                <g id="Layer_x0020_1">
                                                    <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M5.92126 15.7984C5.92126 15.9097 6.01157 16 6.12282 16H8.99563C9.10688 16 9.19688 15.9097 9.19688 15.7984V7.93687H11.2797C11.3841 7.93687 11.4713 7.85656 11.4803 7.7525L11.6806 5.38375C11.6903 5.26625 11.5978 5.16531 11.4797 5.16531H9.19688V3.485C9.19688 3.09094 9.51626 2.77156 9.91001 2.77156H11.515C11.6266 2.77156 11.7166 2.68125 11.7166 2.57V0.201562C11.7166 0.0903125 11.6266 0 11.515 0H8.80313C7.21157 0 5.92126 1.29 5.92126 2.88156V5.16531H4.48501C4.37376 5.16531 4.28345 5.25563 4.28345 5.36688V7.73531C4.28345 7.84688 4.37376 7.93687 4.48501 7.93687H5.92126V15.7984Z" fill="white" />
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                                <li class="socials__item">
                                    <a class="socials__link" href="#">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="social_icons" clip-path="url(#clip0_187_9402)">
                                                <g id="Layer_x0020_1">
                                                    <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M15.94 2.91286C15.4315 3.14286 14.8722 3.28224 14.3237 3.37443C14.8062 3.29349 15.5215 2.14068 15.6597 1.68849C15.7009 1.60568 15.6412 1.5763 15.5706 1.61161C14.9584 1.93974 14.325 2.17755 13.6509 2.34599C13.5243 2.37755 13.4484 2.22036 13.3506 2.13943C10.9584 0.103801 7.39841 2.14505 7.8631 5.29818C7.87341 5.37536 7.86685 5.38568 7.79716 5.37536C5.16028 4.98255 2.97466 4.03943 1.20028 2.01724C1.12341 1.92943 1.08153 1.92974 1.01841 2.02411C0.0843455 3.42411 0.758408 5.37005 1.99403 6.33318C1.94153 6.3438 1.29622 6.2738 0.720908 5.97661C0.644033 5.92786 0.605283 5.95599 0.59872 6.04318C0.520595 7.41318 1.76903 9.0138 3.12716 9.24693C2.87216 9.30286 2.60966 9.34286 1.87872 9.28568C1.78778 9.26818 1.75278 9.31349 1.78778 9.40099C2.33716 10.8982 3.52278 11.3438 4.41091 11.5976C4.52966 11.6185 4.64872 11.6185 4.7681 11.6463C4.11903 12.611 1.31403 13.0713 0.234658 12.9651C0.15997 12.9541 -0.121592 12.9147 0.0599705 13.0629C6.46966 17.2885 14.4522 12.7663 14.4522 4.72818C14.4522 4.62443 14.5743 4.56755 14.6472 4.51286C14.9809 4.26193 16 3.34255 16 2.91286C16 2.87036 16.005 2.88349 15.94 2.91286Z" fill="white" />
                                                </g>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_187_9402">
                                                    <rect width="16" height="16" fill="white" />
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </a>
                                </li>
                                <li class="socials__item">
                                    <a class="socials__link" href="#">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="social_icons" clip-path="url(#clip0_187_9379)">
                                                <path id="Vector" d="M0 8C0 3.5888 3.5888 0 8 0C9.78156 0 11.4678 0.573181 12.8765 1.6576L11.0174 4.07253C10.1464 3.40206 9.10301 3.04762 8 3.04762C5.26926 3.04762 3.04762 5.26926 3.04762 8C3.04762 10.7307 5.26926 12.9524 8 12.9524C10.1994 12.9524 12.0684 11.5114 12.7125 9.52381H8V6.47619H16V8C16 12.4112 12.4112 16 8 16C3.5888 16 0 12.4112 0 8Z" fill="white" />
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_187_9379">
                                                    <rect width="16" height="16" fill="white" />
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </a>
                                </li>
                                <li class="socials__item">
                                    <a class="socials__link" href="#">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="social_icons" clip-path="url(#clip0_187_9414)">
                                                <g id="Layer_x0020_1">
                                                    <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M0.32085 16H3.62241V5.33313H0.32085V16ZM8.90054 10.4006C8.90054 8.90125 9.59085 8.0075 10.9124 8.0075C12.1265 8.0075 12.7096 8.86531 12.7096 10.4006V16H15.9962C15.9962 16 15.9962 12.1038 15.9962 9.24656C15.9962 6.38938 14.3765 5.00781 12.1149 5.00781C9.85241 5.0075 8.90054 6.77 8.90054 6.77V5.33313H5.73335V16H8.90054C8.90054 16 8.90054 12.0441 8.90054 10.4006ZM1.95616 3.93688C3.03429 3.93688 3.90866 3.05469 3.90866 1.96812C3.90866 0.88125 3.03429 0 1.95616 0C0.877412 0 0.00366211 0.88125 0.00366211 1.96812C0.00366211 3.05469 0.877412 3.93688 1.95616 3.93688Z" fill="white" />
                                                </g>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_187_9414">
                                                    <rect width="16" height="16" fill="white" />
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </section>

            <section class="main__popup " id="faq-popup">
                <div class="popup__inner">
                    <h2 class="popup__title">
                        Popular Questions
                    </h2>

                    <div class="popup-content">

                        <ul>
                            <li><i class="icon-book-open"></i><a href="index.html">How to Upload Your Portfolio </a></li>
                            <li><i class="icon-book-open"></i><a href="index.html">How to Start To Work</a></li>
                            <li><i class="icon-book-open"></i><a href="index.html">Get in touch with the Creator Support Team</a></li>
                        </ul>
                        <div class="form-help-links">
                            <a class="fl-btn btn_first" href="index.html">Browse all articles</a>
                            <a class="fl-btn btn_second" data-fancybox="" href="#report-popup">Send Feedback</a>
                        </div>


                        <div class="login-form__socials login-form-socials">
                            <p class="login-form-socials__or">
                                <span></span>
                                or
                                <span></span>
                            </p>
                            <ul class="login-form-socials__list socials">
                                <li class="socials__item">
                                    <a class="socials__link" href="#" tabindex="0">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="social_icons">
                                                <g id="Layer_x0020_1">
                                                    <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M5.92126 15.7984C5.92126 15.9097 6.01157 16 6.12282 16H8.99563C9.10688 16 9.19688 15.9097 9.19688 15.7984V7.93687H11.2797C11.3841 7.93687 11.4713 7.85656 11.4803 7.7525L11.6806 5.38375C11.6903 5.26625 11.5978 5.16531 11.4797 5.16531H9.19688V3.485C9.19688 3.09094 9.51626 2.77156 9.91001 2.77156H11.515C11.6266 2.77156 11.7166 2.68125 11.7166 2.57V0.201562C11.7166 0.0903125 11.6266 0 11.515 0H8.80313C7.21157 0 5.92126 1.29 5.92126 2.88156V5.16531H4.48501C4.37376 5.16531 4.28345 5.25563 4.28345 5.36688V7.73531C4.28345 7.84688 4.37376 7.93687 4.48501 7.93687H5.92126V15.7984Z" fill="white"></path>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                                <li class="socials__item">
                                    <a class="socials__link" href="#" tabindex="0">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="social_icons" clip-path="url(#clip0_187_9402)">
                                                <g id="Layer_x0020_1">
                                                    <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M15.94 2.91286C15.4315 3.14286 14.8722 3.28224 14.3237 3.37443C14.8062 3.29349 15.5215 2.14068 15.6597 1.68849C15.7009 1.60568 15.6412 1.5763 15.5706 1.61161C14.9584 1.93974 14.325 2.17755 13.6509 2.34599C13.5243 2.37755 13.4484 2.22036 13.3506 2.13943C10.9584 0.103801 7.39841 2.14505 7.8631 5.29818C7.87341 5.37536 7.86685 5.38568 7.79716 5.37536C5.16028 4.98255 2.97466 4.03943 1.20028 2.01724C1.12341 1.92943 1.08153 1.92974 1.01841 2.02411C0.0843455 3.42411 0.758408 5.37005 1.99403 6.33318C1.94153 6.3438 1.29622 6.2738 0.720908 5.97661C0.644033 5.92786 0.605283 5.95599 0.59872 6.04318C0.520595 7.41318 1.76903 9.0138 3.12716 9.24693C2.87216 9.30286 2.60966 9.34286 1.87872 9.28568C1.78778 9.26818 1.75278 9.31349 1.78778 9.40099C2.33716 10.8982 3.52278 11.3438 4.41091 11.5976C4.52966 11.6185 4.64872 11.6185 4.7681 11.6463C4.11903 12.611 1.31403 13.0713 0.234658 12.9651C0.15997 12.9541 -0.121592 12.9147 0.0599705 13.0629C6.46966 17.2885 14.4522 12.7663 14.4522 4.72818C14.4522 4.62443 14.5743 4.56755 14.6472 4.51286C14.9809 4.26193 16 3.34255 16 2.91286C16 2.87036 16.005 2.88349 15.94 2.91286Z" fill="white"></path>
                                                </g>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_187_9402">
                                                    <rect width="16" height="16" fill="white"></rect>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </a>
                                </li>
                                <li class="socials__item">
                                    <a class="socials__link" href="#" tabindex="0">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="social_icons" clip-path="url(#clip0_187_9379)">
                                                <path id="Vector" d="M0 8C0 3.5888 3.5888 0 8 0C9.78156 0 11.4678 0.573181 12.8765 1.6576L11.0174 4.07253C10.1464 3.40206 9.10301 3.04762 8 3.04762C5.26926 3.04762 3.04762 5.26926 3.04762 8C3.04762 10.7307 5.26926 12.9524 8 12.9524C10.1994 12.9524 12.0684 11.5114 12.7125 9.52381H8V6.47619H16V8C16 12.4112 12.4112 16 8 16C3.5888 16 0 12.4112 0 8Z" fill="white"></path>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_187_9379">
                                                    <rect width="16" height="16" fill="white"></rect>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </a>
                                </li>
                                <li class="socials__item">
                                    <a class="socials__link" href="#" tabindex="0">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="social_icons" clip-path="url(#clip0_187_9414)">
                                                <g id="Layer_x0020_1">
                                                    <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M0.32085 16H3.62241V5.33313H0.32085V16ZM8.90054 10.4006C8.90054 8.90125 9.59085 8.0075 10.9124 8.0075C12.1265 8.0075 12.7096 8.86531 12.7096 10.4006V16H15.9962C15.9962 16 15.9962 12.1038 15.9962 9.24656C15.9962 6.38938 14.3765 5.00781 12.1149 5.00781C9.85241 5.0075 8.90054 6.77 8.90054 6.77V5.33313H5.73335V16H8.90054C8.90054 16 8.90054 12.0441 8.90054 10.4006ZM1.95616 3.93688C3.03429 3.93688 3.90866 3.05469 3.90866 1.96812C3.90866 0.88125 3.03429 0 1.95616 0C0.877412 0 0.00366211 0.88125 0.00366211 1.96812C0.00366211 3.05469 0.877412 3.93688 1.95616 3.93688Z" fill="white"></path>
                                                </g>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_187_9414">
                                                    <rect width="16" height="16" fill="white"></rect>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </section>

            <section class="main__popup " id="report-popup">
                <div class="popup__inner">
                    <h2 class="popup__title">
                        Report form
                    </h2>

                    <div class="popup-content">
                        <div id="send-feedback">
                            <input class="fl-input" type="text" placeholder="Your Name">
                            <input class="input" type="text" placeholder="Your Email">
                            <textarea class="fl-textarea" placeholder="Your Comment" rows="3"></textarea>
                            <button class="comment__form-btn" type="button">
                                Send Message
                            </button>
                        </div>
                    </div>
                </div>
            </section>

        
        </main>
        <%- include('includes/footer') %>
    </div>
<%- include('includes/bottom') %>